server:
  port: 8082

spring:
  application:
    name: microservice-produit
  config:
    import: "optional:configserver:http://localhost:8888/"
  datasource:
    url: jdbc:h2:mem:produitsdb
  h2:
    console:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
