server:
  port: 8083

spring:
  application:
    name: microservice-commandes-v2
  config:
    import: "optional:configserver:http://localhost:8888/"
  cloud:
    config:
      fail-fast: true
  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:sqlite:commandesv2.db
    driver-class-name: org.sqlite.JDBC
    username: ""
    password: ""

# Resilience4j Config
resilience4j:
  circuitbreaker:
    instances:
      produitService:
        registerHealthIndicator: true
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s
        failureRateThreshold: 50
  timelimiter:
    instances:
      produitService:
        timeoutDuration: 2s 
